{% extends 'base.html.twig' %}

{% block title %}New Bmc{% endblock %}

{% block body %}
    <h1>Create new Bmc</h1>

    {{ include('bmc/_form.html.twig') }}

    <a href="{{ path('app_bmc_index') }}">back to list</a>
{% endblock %}
