<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>BizBag - Multipurpose Business Startup HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Typography CSS -->
    <link rel="stylesheet" href="css/typography.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
    <!-- loading -->
    <div id="loading">
      <div id="loading-center">
        <img src="C:/Users/Dell/Downloads/logoGif1.gif" alt="loader" />
      </div>
    </div>
    <!-- loading End -->
    <!-- Header Start -->
    <header id="main-header" class="header-one">
      <div class="topbar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="number-info">
                <ul>
                  <li class="email-header">
                    <a href="mailto:support@bizbag.com">
                      <i class="fas fa-envelope"></i>support.tn@sandbox.tn</a
                    >
                  </li>
                  <li class="phone-header">
                    <a href="tel:+0123456789">
                      <i class="fas fa-phone"></i>+21655025447</a
                    >
                  </li>
                  <li class="phone-header">
                    <span class="text-warning">Bienvenue Guetat youssef</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="social-icone text-right">
                <ul>
                  <li class="d-inline">
                    <a href="https://www.facebook.com/"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="d-inline">
                    <a href="https://twitter.com/"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li class="d-inline">
                    <a href="https://plus.google.com/"
                      ><i class="fab fa-google-plus-g"></i
                    ></a>
                  </li>
                  <li class="d-inline">
                    <a href="https://www.instagram.com/"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- menu start -->
      <nav id="menu-1" class="mega-menu" data-color="">
        <!-- menu list items container -->
        <div class="menu-list-items">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <!-- menu logo -->
                <ul class="menu-logo">
                  <li>
                    <a href="index.html"
                      ><img src="images/looo.png" alt="logo" class="img-fluid"
                    /></a>
                  </li>
                </ul>
                <!-- menu links -->
                <ul class="menu-links">
                  <!-- active class -->
                  <li>
                    <a href="homeC.html">ACCEUIL</a>
                  </li>
                  <li class="active">
                    <a href="profile.html">PROFILE</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">ANNONCES</a>
                    <!-- drop down multilevel  -->
                    <ul class="drop-down-multilevel">
                      <li><a href="annonceentrepreneur.html">PUBLIER</a></li>
                      <li>
                        <a href="listeAnnonces.html">LISTE ANNONCES</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="evenement.html">EVENEMENTS</a>
                  </li>
                  <li>
                    <a href="reclamation.html">RECLAMATION</a>
                    <!-- drop down multilevel  -->
                  </li>
                  <li>
                    <a class="button btn-hdr" href="javascript:void(0)"
                      >Déconnecter</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- menu end -->
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Start -->
    <section class="iq-breadcrumb text-left">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center"
          >
            <h2 class="title">Project details</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html"
                    ><i class="fa fa-home" aria-hidden="true"></i>Home</a
                  >
                </li>
                <li class="breadcrumb-item active">Project details</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <img src="images/blog/01.png" class="img-fluid" alt="#" />
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb End -->
    <!-- Main-Content Start -->
    <div class="main-content">
      <!-- Portfolio deatils Start -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-sm-12">
              <div class="iq-portfolio-image">
                <img class="img-fluid" src="images/portfolio/04.png" alt="#" />
              </div>
            </div>

            <div class="col-lg-4 col-sm-12 mt-5 mt-lg-0">
              <h4>Fake News Detector</h4>
              <p>
                Fake news is misleading or false information that is circulated
                as news. It is often difficult to distinguish between fake and
                real news, and it isn’t until the situation gets blown out of
                proportion that it comes to light. The spreading of fake news
                becomes especially dangerous during times like elections or
                pandemic situations. Fake rumours and misinformation that pose
                harm to human lives are threatening to people and the society.
                Fake news needs to be detected and prevented early, before it
                causes panic and spreads to a large number of people. To build a
                fake news detector, you can use the Real and Fake News dataset
                available on Kaggle. You can use a pre-trained machine learning
                model called BERT to perform this classification. BERT is a
                Natural Language Processing (NLP) model that has been made
                open-source. You can load BERT into Python and just add one
                additional output layer for your text classification task.
              </p>
              <ul class="portfolio-meta bottommargin">
                <li>
                  <span class="lead">Created by:</span>
                  <span class="float-right">Nikmy S. AmsonWilli</span>
                </li>
                <li>
                  <span class="lead">Catégorie:</span>
                  <span class="float-right">Informatique</span>
                </li>
                <li>
                  <span class="lead">Date de publication:</span>
                  <span class="float-right">02/05/2019</span>
                </li>
                <li>
                  <span class="lead">Budget demandé:</span>
                  <span class="float-right">150 000 000 dt</span>
                </li>
                <li></li>
              </ul>

              <div class="portfolio-button">
                <a class="button" href="#">Rendez-vous</a>
                <a class="button" href="tableaubmc.html">Voir BMC</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Portfolio deatils Start -->
      <!-- Our Portfolio Start -->
      <section class="Our-portfolio overview-block-pb">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="title-box text-center">
                <span>View Recent Portfolio</span>
                <h2 class="title">Recent Portfolio</h2>
                <p class="mb-0">
                  It is a long established fact that a reader will be distracted
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div
                class="owl-carousel"
                data-autoplay="true"
                data-loop="true"
                data-nav="false"
                data-dots="true"
                data-items="3"
                data-items-laptop="3"
                data-items-tab="2"
                data-items-mobile="1"
                data-items-mobile-sm="1"
                data-margin="15"
              >
                <div class="item">
                  <div class="iq-portfolio">
                    <a href="masonry-4-columns.html" class="iq-portfolio-img"
                      ><img
                        src="images/portfolio/01.jpg"
                        class="img-fluid"
                        alt="#"
                    /></a>
                    <div class="iq-portfolio-content">
                      <h6><a href="masonry-4-columns.html">Projects 11</a></h6>
                      <ul>
                        <li>Illustration</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-portfolio">
                    <a href="masonry-4-columns.html" class="iq-portfolio-img"
                      ><img
                        src="images/portfolio/02.jpg"
                        class="img-fluid"
                        alt="#"
                    /></a>
                    <div class="iq-portfolio-content">
                      <h6><a href="masonry-4-columns.html">Projects 11</a></h6>
                      <ul>
                        <li>Illustration</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-portfolio">
                    <a href="masonry-4-columns.html" class="iq-portfolio-img"
                      ><img
                        src="images/portfolio/03.jpg"
                        class="img-fluid"
                        alt="#"
                    /></a>
                    <div class="iq-portfolio-content">
                      <h6><a href="masonry-4-columns.html">Projects 11</a></h6>
                      <ul>
                        <li>Illustration</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-portfolio">
                    <a href="masonry-4-columns.html" class="iq-portfolio-img"
                      ><img
                        src="images/portfolio/04.jpg"
                        class="img-fluid"
                        alt="#"
                    /></a>
                    <div class="iq-portfolio-content">
                      <h6><a href="masonry-4-columns.html">Projects 11</a></h6>
                      <ul>
                        <li>Illustration</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-portfolio">
                    <a href="masonry-4-columns.html" class="iq-portfolio-img"
                      ><img
                        src="images/portfolio/05.jpg"
                        class="img-fluid"
                        alt="#"
                    /></a>
                    <div class="iq-portfolio-content">
                      <h6><a href="masonry-4-columns.html">Projects 11</a></h6>
                      <ul>
                        <li>Illustration</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-portfolio">
                    <a href="masonry-4-columns.html" class="iq-portfolio-img"
                      ><img
                        src="images/portfolio/06.jpg"
                        class="img-fluid"
                        alt="#"
                    /></a>
                    <div class="iq-portfolio-content">
                      <h6><a href="masonry-4-columns.html">Projects 11</a></h6>
                      <ul>
                        <li>Illustration</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-portfolio">
                    <a href="masonry-4-columns.html" class="iq-portfolio-img"
                      ><img
                        src="images/portfolio/01.jpg"
                        class="img-fluid"
                        alt="#"
                    /></a>
                    <div class="iq-portfolio-content">
                      <h6><a href="masonry-4-columns.html">Projects 11</a></h6>
                      <ul>
                        <li>Illustration</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-portfolio">
                    <a href="masonry-4-columns.html" class="iq-portfolio-img"
                      ><img
                        src="images/portfolio/04.jpg"
                        class="img-fluid"
                        alt="#"
                    /></a>
                    <div class="iq-portfolio-content">
                      <h6><a href="masonry-4-columns.html">Projects 11</a></h6>
                      <ul>
                        <li>Illustration</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-portfolio">
                    <a href="masonry-4-columns.html" class="iq-portfolio-img"
                      ><img
                        src="images/portfolio/06.jpg"
                        class="img-fluid"
                        alt="#"
                    /></a>
                    <div class="iq-portfolio-content">
                      <h6><a href="masonry-4-columns.html">Projects 11</a></h6>
                      <ul>
                        <li>Illustration</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Portfolio End -->
    </div>
    <!-- Main-Content End -->
    <!-- Footer Start -->
    <div class="footer-subscribe">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="subscribe-heading">Abonnez-Vous Maintenant</h3>
          </div>
          <div class="col-sm-6">
            <div class="form-fields">
              <input
                type="email"
                name="EMAIL"
                placeholder="Votre E-mail"
                required=""
              />
              <a class="button btn-yellow" href="#">S'inscrire</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Content End -->
    <!-- Footer Start -->
    <footer>
      <div class="container">
        <div class="footer-top mt-5">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer-logo">
                <a href="#">
                  <img class="img-fluid" src="images/looo.png" alt="bizbag1" />
                </a>
              </div>
              <div class="widget">
                <div class="textwidget">
                  <p>
                    Avoir le bon financement au bon moment avec le bon
                    investisseur. Avoir votre succès.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-18 col-sm-18">
              <div class="widget">
                <div class="textwidget">
                  <p>
                    Dans le cadre de la mise en place d’un outil numérique de
                    gestion des demandes de financement simple et rapide, la
                    marketplace SandBoX a été créée afin de mettre en relation
                    des entrepreneurs tunisiennes avec des sources de
                    financement pour leur permettre d’assurer un rééquilibrage
                    de leur bilan, un développement de leur portefeuille
                    d’activité visant le maintien et la relance de leur
                    croissance.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="widget">
                <h4 class="footer-title contact-info">Contactez-Nous</h4>
                <ul class="iq-contact">
                  <li>
                    <a href="tel:+0123456789"
                      ><i class="fas fa-phone"></i>+21655025447</a
                    >
                  </li>
                  <li>
                    <a href="mailto:support@bizbag.com"
                      ><i class="fas fa-envelope"></i>support.tn@sandbox.tn</a
                    >
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-map-marker-alt"></i> La Petite Ariana,
                      Ariana, Tunisie 2082
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="copyright-footer pb-3 pt-3">
            <div class="row">
              <div class="col-lg-6 col-md-6 mb-2 mb-lg-0">
                <span class="copyright">
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  | Bienvenue chez SandBoX</span
                >
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="social-icone">
                  <ul>
                    <li class="d-inline">
                      <a href="https://www.facebook.com/"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                    </li>
                    <li class="d-inline">
                      <a href="https://twitter.com/"
                        ><i class="fab fa-twitter"></i
                      ></a>
                    </li>
                    <li class="d-inline">
                      <a href="https://plus.google.com/"
                        ><i class="fab fa-google-plus-g"></i
                      ></a>
                    </li>
                    <li class="d-inline">
                      <a href="https://www.instagram.com/"
                        ><i class="fab fa-instagram"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
    <!-- back-to-top -->
    <div id="back-to-top">
      <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- popper  -->
    <script src="js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="js/appear.js"></script>
    <!-- Mega menu JavaScript -->
    <script src="js/mega_menu.min.js"></script>
    <!-- Count Down JavaScript -->
    <script src="js/countdown.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!--  Counter -->
    <script src="js/jquery.countTo.js"></script>
    <!-- Skrollr JavaScript -->
    <script src="js/skrollr.js"></script>
    <!-- Isotope JavaScript -->
    <script src="js/isotope.pkgd.min.js"></script>
    <!-- Retina JavaScript -->
    <script src="js/retina.min.js"></script>
    <!--  Custom -->
    <script src="js/custom.js"></script>
  </body>
</html>
