<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BizBag - Multipurpose Business Startup HTML Template</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
           <img src="C:/Users/Dell/Downloads/logoGif1.gif" alt="loader" />
         </div>
       </div>
       <!-- loading End -->
       <!-- Header Start -->
       <header id="main-header" class="header-one">
         <div class="topbar">
           <div class="container-fluid">
             <div class="row">
               <div class="col-lg-6 col-md-6">
                 <div class="number-info">
                   <ul>
                     <li class="email-header">
                       <a href="mailto:support@bizbag.com">
                         <i class="fas fa-envelope"></i>support.tn@sandbox.tn</a
                       >
                     </li>
                     <li class="phone-header">
                       <a href="tel:+0123456789">
                         <i class="fas fa-phone"></i>+21655025447</a
                       >
                     </li>
                     <li class="phone-header">
                       <span class="text-warning">Bienvenue Guetat youssef</span>
                     </li>
                   </ul>
                 </div>
               </div>
               <div class="col-lg-6 col-md-6">
                 <div class="social-icone text-right">
                   <ul>
                     <li class="d-inline">
                       <a href="https://www.facebook.com/"
                         ><i class="fab fa-facebook-f"></i
                       ></a>
                     </li>
                     <li class="d-inline">
                       <a href="https://twitter.com/"
                         ><i class="fab fa-twitter"></i
                       ></a>
                     </li>
                     <li class="d-inline">
                       <a href="https://plus.google.com/"
                         ><i class="fab fa-google-plus-g"></i
                       ></a>
                     </li>
                     <li class="d-inline">
                       <a href="https://www.instagram.com/"
                         ><i class="fab fa-instagram"></i
                       ></a>
                     </li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!-- menu start -->
         <nav id="menu-1" class="mega-menu" data-color="">
           <!-- menu list items container -->
           <div class="menu-list-items">
             <div class="container-fluid">
               <div class="row">
                 <div class="col-sm-12">
                   <!-- menu logo -->
                   <ul class="menu-logo">
                     <li>
                       <a href="index.html"
                         ><img src="images/looo.png" alt="logo" class="img-fluid"
                       /></a>
                     </li>
                   </ul>
                   <!-- menu links -->
                   <ul class="menu-links">
                     <!-- active class -->
                     <li>
                        <a href="homeC.html">ACCEUIL</a>
                     </li>
                     <li class="active">
                        <a href="profile.html">PROFILE</a>
                  </li>
                  <li>
                     <a href="javascript:void(0)">ANNONCES</a>
                     <!-- drop down multilevel  -->
                     <ul class="drop-down-multilevel">
                        <li><a href="annonceentrepreneur.html">PUBLIER</a></li>
                        <li><a href="listeAnnonces.html">LISTE ANNONCES</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="evenement.html">EVENEMENTS</a>
                  </li>
                  <li>
                     <a href="reclamation.html">RECLAMATION</a>
                     <!-- drop down multilevel  -->
                  </li>
                  <li><a class="button btn-hdr" href="javascript:void(0)">Déconnecter</a></li>
               </ul>
                 </div>
               </div>
             </div>
           </div>
         </nav>
         <!-- menu end -->
       </header>
<!-- Header End -->
      <!-- Breadcrumb Start -->
      <section class="iq-breadcrumb text-left">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
                  <h2 class="title">Ajouter le BMC</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>ACCEUIL</a></li>
                        <li class="breadcrumb-item active">ANNONCES</li>
                     </ol>
                  </nav>
               </div>
               <div class="col-lg-4 col-md-4 text-right">
                  <img  src="images/contact-us/02.png" class="img-fluid" alt="#"/>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      
      <div class="main-content">
         <!-- Contact Us Start -->
         
         <section class="iq-contactus gray-bg">
            <div class="container">
               <div class="row">
                  
                  <div class="col-lg-6">
                     <div class="title-box  text-left">
                        <span class="text-warning">Show the world your wonderful ideas</span>
                        <h2 class="title">Continuer à developper le BMC</h2>
                        <p class="mb-0">It is a long established fact that a reader will be distracted</p>
                     </div>
                     <form  class="contact-us" id="contact" method="post">
                        <div class="row">
                           <div class="col-md-6">
                              <label>Partenaires clés <br>
                              <span class="form-control-wrap your-name">
                              <input type="text" name="name" Placeholder="Partenaires clés" class="form-control text" aria-required="true" aria-invalid="false"></span>
                              </label>
                           </div>


                           
                            

                          


                           <div class="col-md-6">
                              <label>Activités clés<br>
                              <span class="form-control-wrap your-email">
                              <input type="email" name="email" Placeholder="Activités clés" class="form-control text email" aria-required="true" aria-invalid="false"></span>
                              </label>
                           </div>
                           <div class="col-xl-12">
                              <label>Ressources clés<br>
                              <span class="form-control-wrap your-subject">
                              <input type="text" name="subject" Placeholder="Ressources clés" class="form-control text" aria-invalid="false"></span>
                              </label>
                           </div>

                           <div class="col-xl-12">
                              <label>Proposition de valeurs<br>
                              <span class="form-control-wrap your-subject">
                              <input type="text" name="subject" Placeholder="Proposition de valeurs" class="form-control text" aria-invalid="false"></span>
                              </label>
                           </div>


                           <div class="col-xl-12">
                              <label>Relations client<br>
                              <span class="form-control-wrap your-subject">
                              <input type="text" name="subject" Placeholder="Relations client" class="form-control text" aria-invalid="false"></span>
                              </label>
                           </div>


                           <div class="col-xl-12">
                              <label>Canaux<br>
                              <span class="form-control-wrap your-subject">
                              <input type="text" name="subject" Placeholder="Canaux" class="form-control text" aria-invalid="false"></span>
                              </label>
                           </div>

                           <div class="col-xl-12">
                              <label>Segments de marché<br>
                              <span class="form-control-wrap your-subject">
                              <input type="text" name="subject" Placeholder="Segments de marché" class="form-control text" aria-invalid="false"></span>
                              </label>
                           </div>

                           <div class="col-xl-12">
                              <label>Couts<br>
                              <span class="form-control-wrap your-subject">
                              <input type="text" name="subject" Placeholder="Couts" class="form-control text" aria-invalid="false"></span>
                              </label>
                           </div>

                           <div class="col-xl-12">
                              <label>Revenus<br>
                              <span class="form-control-wrap your-subject">
                              <input type="text" name="subject" Placeholder="Revenus" class="form-control text" aria-invalid="false"></span>
                              </label>
                           </div>

                           
                           <div class="col-xl-12">
                              <button id="submit" name="submit" type="submit" value="Send" class="button btn-yellow" >Valider</button>
                           
                           
                           
                           
                           
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
         <!-- Contact Us End -->
         <!-- Fancy-box Start -->
         <section class="overview-block-ptb">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="title-box  text-center">
                        <span class="text-warning">Get In Touch</span>
                        <h2 class="title">Quick Support</h2>
                        <p class="mb-0">You can get all the contact information.</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-location-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>Our Address</h4>
                           <p>1234 North Avenue Luke Lane, South Bend, IN 360001</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-email-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>Our Email Address</h4>
                           <p>support@bizbag.com<br>
                              support@demo.com
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-telephone-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>Our Phone Number</h4>
                           <p>+11 123 456 7890<br>
                              +11 123 456 7890
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Fancy-box End -->
         <div class="footer-subscribe">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="subscribe-heading">Abonnez-Vous Maintenant</h3>
                </div>
                <div class="col-sm-6">
                  <div class="form-fields">
                    <input
                      type="email"
                      name="EMAIL"
                      placeholder="Votre E-mail"
                      required=""
                    />
                    <a class="button btn-yellow" href="#">S'inscrire</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Main Content End -->
        <!-- Footer Start -->
        <footer>
          <div class="container">
            <div class="footer-top mt-5">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-logo">
                    <a href="#">
                      <img class="img-fluid" src="images/looo.png" alt="bizbag1" />
                    </a>
                  </div>
                  <div class="widget">
                    <div class="textwidget">
                      <p>
                        Avoir le bon financement au bon moment avec le bon investisseur.
                        Avoir votre succès.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-18 col-sm-18">
                  <div class="widget">
                  <div class="textwidget">
                    <p>
                      Dans le cadre de la mise en place d’un outil numérique de gestion des demandes de financement simple et rapide,
                       la marketplace SandBoX a été créée afin de mettre en relation des entrepreneurs tunisiennes avec des sources de
                        financement pour leur permettre d’assurer un rééquilibrage de leur bilan, 
                        un développement de leur portefeuille d’activité visant le maintien et la relance de leur croissance.
                    </p>
    
                  </div>
                  </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="widget">
                    <h4 class="footer-title contact-info">Contactez-Nous</h4>
                    <ul class="iq-contact">
                      <li>
                        <a href="tel:+0123456789"
                          ><i class="fas fa-phone"></i>+21655025447</a
                        >
                      </li>
                      <li>
                        <a href="mailto:support@bizbag.com"
                          ><i class="fas fa-envelope"></i>support.tn@sandbox.tn</a
                        >
                      </li>
                      <li>
                        <p>
                          <i class="fas fa-map-marker-alt"></i> La Petite Ariana, Ariana, Tunisie 2082
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="copyright-footer pb-3 pt-3">
                <div class="row">
                  <div class="col-lg-6 col-md-6 mb-2 mb-lg-0">
                    <span class="copyright"
                      >
                      <script>
                        document.write(new Date().getFullYear());
                      </script>
                      | Bienvenue chez SandBoX</span
                    >
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="social-icone">
                      <ul>
                        <li class="d-inline">
                          <a href="https://www.facebook.com/"
                            ><i class="fab fa-facebook-f"></i
                          ></a>
                        </li>
                        <li class="d-inline">
                          <a href="https://twitter.com/"
                            ><i class="fab fa-twitter"></i
                          ></a>
                        </li>
                        <li class="d-inline">
                          <a href="https://plus.google.com/"
                            ><i class="fab fa-google-plus-g"></i
                          ></a>
                        </li>
                        <li class="d-inline">
                          <a href="https://www.instagram.com/"
                            ><i class="fab fa-instagram"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      <!-- Footer End -->
      <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
      </div>
      <!-- back-to-top End -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-1.11.1.min.js" ></script>
<!-- popper  -->
<script src="js/popper.min.js"></script>
<!--  bootstrap -->
<script src="js/bootstrap.min.js" ></script>
<!-- Appear JavaScript -->
<script src="js/appear.js"></script>
<!-- Mega menu JavaScript -->
<script src="js/mega_menu.min.js"></script>
<!-- Count Down JavaScript -->
<script src="js/countdown.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--  Counter -->
<script src="js/jquery.countTo.js" ></script>
<!-- Skrollr JavaScript -->
<script src="js/skrollr.js"></script>
<!-- Isotope JavaScript -->
<script src="js/isotope.pkgd.min.js"></script>
<!-- Retina JavaScript -->
<script src="js/retina.min.js"></script>
<!--  Custom -->
<script src="js/custom.js" ></script>
   </body>
</html>