<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BizBag - Multipurpose Business Startup HTML Template</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
           <img src="C:/Users/Dell/Downloads/logoGif1.gif" alt="loader" />
         </div>
       </div>
       <!-- loading End -->
       <!-- Header Start -->
       <header id="main-header" class="header-one">
         <div class="topbar">
           <div class="container-fluid">
             <div class="row">
               <div class="col-lg-6 col-md-6">
                 <div class="number-info">
                   <ul>
                     <li class="email-header">
                       <a href="mailto:support@bizbag.com">
                         <i class="fas fa-envelope"></i>support.tn@sandbox.tn</a
                       >
                     </li>
                     <li class="phone-header">
                       <a href="tel:+0123456789">
                         <i class="fas fa-phone"></i>+21655025447</a
                       >
                     </li>
                     <li class="phone-header">
                       <span class="text-warning">Bienvenue Guetat youssef</span>
                     </li>
                   </ul>
                 </div>
               </div>
               <div class="col-lg-6 col-md-6">
                 <div class="social-icone text-right">
                   <ul>
                     <li class="d-inline">
                       <a href="https://www.facebook.com/"
                         ><i class="fab fa-facebook-f"></i
                       ></a>
                     </li>
                     <li class="d-inline">
                       <a href="https://twitter.com/"
                         ><i class="fab fa-twitter"></i
                       ></a>
                     </li>
                     <li class="d-inline">
                       <a href="https://plus.google.com/"
                         ><i class="fab fa-google-plus-g"></i
                       ></a>
                     </li>
                     <li class="d-inline">
                       <a href="https://www.instagram.com/"
                         ><i class="fab fa-instagram"></i
                       ></a>
                     </li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!-- menu start -->
         <nav id="menu-1" class="mega-menu" data-color="">
           <!-- menu list items container -->
           <div class="menu-list-items">
             <div class="container-fluid">
               <div class="row">
                 <div class="col-sm-12">
                   <!-- menu logo -->
                   <ul class="menu-logo">
                     <li>
                       <a href="index.html"
                         ><img src="images/looo.png" alt="logo" class="img-fluid"
                       /></a>
                     </li>
                   </ul>
                   <!-- menu links -->
                   <ul class="menu-links">
                     <!-- active class -->
                     <li>
                        <a href="homeC.html">ACCEUIL</a>
                     </li>
                     <li class="active">
                        <a href="profile.html">PROFILE</a>
                  </li>
                  <li>
                     <a href="javascript:void(0)">ANNONCES</a>
                     <!-- drop down multilevel  -->
                     <ul class="drop-down-multilevel">
                        <li><a href="annonceentrepreneur.html">PUBLIER</a></li>
                        <li><a href="listeAnnonces.html">LISTE ANNONCES</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="evenement.html">EVENEMENTS</a>
                  </li>
                  <li>
                     <a href="reclamation.html">RECLAMATION</a>
                     <!-- drop down multilevel  -->
                  </li>
                  <li><a class="button btn-hdr" href="javascript:void(0)">Déconnecter</a></li>
               </ul>
                 </div>
               </div>
             </div>
           </div>
         </nav>
         <!-- menu end -->
       </header>
<!-- Header End -->




<!-- Breadcrumb Start -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Business Model Canvas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/canvas.css" rel="stylesheet">
    <meta name="description" content="Business Model Canvas Template">
    <meta name="author" content="Zeljko Dakic">
    <link href='http://fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <h1>The Business Model Canvas</h1>
      <!-- Canvas -->
      <table id="bizcanvas" cellspacing="0" border="1">
        <!-- Upper part -->
        <tr>
          <td colspan="2" rowspan="2">
            <h4>Key Partners</h4>
            <p>Who are our key partners?</p>
            <p>Who are our key suppliers?</p>
            <p>Which key resources are we acquiring from partners?</p>
            <p>Which key activities our partners perform?</p>
            <p><strong>Motivation for partnerships</strong></p>
            <p>
              Optimization and economy <br />
              Reduction of risk and uncertainty <br />
              Acquisition of particular resources and activities <br />
            </p>
          </td>
          <td colspan="2">
            <h4>Key Activities</h4>
            <p>What key activities do our value propostions require?</p>
            <p>Our distribution channels?</p>
            <p>Customer relationships?</p>
            <p>Revenue Streams?</p>
            <p><strong>Categories</strong></p>
            <p>
              Production <br />
              Problem Solving <br />
              Platform/Network <br />
            </p>
          </td>
          <td colspan="2" rowspan="2">
            <h4>Value Proposition</h4>
            <p>Which value do we deliver to the customer?</p>
            <p>Which one of our customer's problems are we helping to solve?</p>
            <p>What bundles of products and services are we offering to each customer segment?</p>
            <p>Which customer needs are we satisfying?</p>
            <p><strong>Characteristics</strong></p>
            <p>
              Newness <br />
              Performance <br />
              Customization <br />
              "Getting Job Done" <br />
              Design <br />
              Brand/Status <br />
              Price <br />
              Cost Reduction <br />
              Risk Reduction <br />
              Accessibility <br />
              Convenience/Usability <br />
            </p>
          </td>
          <td colspan="2">
            <h4>Customer Relationship</h4>
            <p>What type of relationship each customer segment expects?</p>
            <p>Which ones have we established?</p>
            <p>How are they integrated with rest of the biz. model?</p>
            <p>How much they cost us?</p>
            <p><strong>Examples</strong></p>
            <p>
              Personal assistance<br />
              Self-service<br />
              Automated services<br />
              Communities<br />
              Co-creation<br />
            </p>
          </td>
          <td colspan="2" rowspan="2">
            <h4>Customer Segments</h4>
            <p>For whom are we creating value?</p>
            <p>Who are our most important customers?</p>
            <p><strong>Examples</strong></p>
            <p>
              Mass market<br />
              Niche market<br />
              Segmented<br />
              Diversified<br />
              Multi-sided platform<br />
            </p>
          </td>
        </tr>

        <!-- Lower part -->
        <tr>
          <td colspan="2">
            <h4>Key Resources</h4>
            <p>What key resources our value proposition requires?</p>
            <p>Our distribution channels? Customer relationships?</p>
            <p>Revenue Streams?</p>
            <p><strong>Types of resources</strong></p>
            <p> 
              Physical <br />
              Intellectual (brand, patents, copyrights, data) <br />
              Human <br />
              Financial
            </p>
          </td>
          <td colspan="2">
            <h4>Channels</h4>
            <p>Through which channels our customer segments want to be reached?</p>
            <p>How are we reaching them now?</p>
            <p>How are channels integrated?</p>
            <p>Which ones work best?</p>
            <p>Which ones are most cost efficient?</p>
            <p>How are we integrating them with customer routines?</p>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <h4>Cost Structure</h4>
            <p>What are most important costs inherent to our business model?</p>
            <p>Which key resources are most expensive?</p>
            <p>Which key activities are most expensive?</p>
            <p><strong>Is your business more?</strong></p>
            <p>Cost driven(cost structure, low price prop, maximum automation, extensive outsourcing)</p>
            <p>Value driven (focused on value creation, premium value prop)</p>
          </td>
          <td colspan="5">
            <h4>Revenue Streams</h4>
            <p>For what value are our customers willing to pay?</p>
            <p>What are they currently paying for?</p>
            <p>How are they paying?</p>
            <p>How would they prefer to pay?</p>
            <p>How much each revenue stream contributes overall?</p>
          </td>
        </tr>
      </table>
      <!-- /Canvas -->
    </div>

    <!-- Javascript loading -->
    <script src="js/jquery.min.js"></script>
    <script src="js/canvas.js"></script>
  </body>
  <br><br>
  <div class="footer-subscribe">
   <div class="container">
     <div class="row">
       <div class="col-sm-6">
         <h3 class="subscribe-heading">Abonnez-Vous Maintenant</h3>
       </div>
       <div class="col-sm-6">
         <div class="form-fields">
           <input
             type="email"
             name="EMAIL"
             placeholder="Votre E-mail"
             required=""
           />
           <a class="button btn-yellow" href="#">S'inscrire</a>
         </div>
       </div>
     </div>
   </div>
 </div>

<!-- Main Content End -->
<!-- Footer Start -->
<footer>
 <div class="container">
   <div class="footer-top mt-5">
     <div class="row">
       <div class="col-lg-3 col-md-6 col-sm-6">
         <div class="footer-logo">
           <a href="#">
             <img class="img-fluid" src="images/looo.png" alt="bizbag1" />
           </a>
         </div>
         <div class="widget">
           <div class="textwidget">
             <p>
               Avoir le bon financement au bon moment avec le bon investisseur.
               Avoir votre succès.
             </p>
           </div>
         </div>
       </div>
       <div class="col-lg-6 col-md-18 col-sm-18">
         <div class="widget">
         <div class="textwidget">
           <p>
             Dans le cadre de la mise en place d’un outil numérique de gestion des demandes de financement simple et rapide,
              la marketplace SandBoX a été créée afin de mettre en relation des entrepreneurs tunisiennes avec des sources de
               financement pour leur permettre d’assurer un rééquilibrage de leur bilan, 
               un développement de leur portefeuille d’activité visant le maintien et la relance de leur croissance.
           </p>

         </div>
         </div>
       </div>
       
       <div class="col-lg-3 col-md-6 col-sm-6">
         <div class="widget">
           <h4 class="footer-title contact-info">Contactez-Nous</h4>
           <ul class="iq-contact">
             <li>
               <a href="tel:+0123456789"
                 ><i class="fas fa-phone"></i>+21655025447</a
               >
             </li>
             <li>
               <a href="mailto:support@bizbag.com"
                 ><i class="fas fa-envelope"></i>support.tn@sandbox.tn</a
               >
             </li>
             <li>
               <p>
                 <i class="fas fa-map-marker-alt"></i> La Petite Ariana, Ariana, Tunisie 2082
               </p>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="copyright-footer pb-3 pt-3">
       <div class="row">
         <div class="col-lg-6 col-md-6 mb-2 mb-lg-0">
           <span class="copyright"
             >
             <script>
               document.write(new Date().getFullYear());
             </script>
             | Bienvenue chez SandBoX</span
           >
         </div>
         <div class="col-lg-6 col-md-6">
           <div class="social-icone">
             <ul>
               <li class="d-inline">
                 <a href="https://www.facebook.com/"
                   ><i class="fab fa-facebook-f"></i
                 ></a>
               </li>
               <li class="d-inline">
                 <a href="https://twitter.com/"
                   ><i class="fab fa-twitter"></i
                 ></a>
               </li>
               <li class="d-inline">
                 <a href="https://plus.google.com/"
                   ><i class="fab fa-google-plus-g"></i
                 ></a>
               </li>
               <li class="d-inline">
                 <a href="https://www.instagram.com/"
                   ><i class="fab fa-instagram"></i
                 ></a>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</footer>
<!-- Footer End -->
<!-- back-to-top -->
<div id="back-to-top">
<a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!-- back-to-top End -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-1.11.1.min.js" ></script>
<!-- popper  -->
<script src="js/popper.min.js"></script>
<!--  bootstrap -->
<script src="js/bootstrap.min.js" ></script>
<!-- Appear JavaScript -->
<script src="js/appear.js"></script>
<!-- Mega menu JavaScript -->
<script src="js/mega_menu.min.js"></script>
<!-- Count Down JavaScript -->
<script src="js/countdown.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--  Counter -->
<script src="js/jquery.countTo.js" ></script>
<!-- Skrollr JavaScript -->
<script src="js/skrollr.js"></script>
<!-- Isotope JavaScript -->
<script src="js/isotope.pkgd.min.js"></script>
<!-- Retina JavaScript -->
<script src="js/retina.min.js"></script>
<!--  Custom -->
<script src="js/custom.js" ></script>
</body>
</html>