{% extends 'front/GestionUtilisateur/profile.html.twig' %}
{%block contenu%}
<div class="main-content">
  <!-- Contact Us Start -->
  <section class="iq-contactus gray-bg">
     <div class="container">
        <div class="row">
           <div class="col-lg-6">
              <img src="{{asset('front/images/project/02.png')}}" alt="login"></div>
           <div class="col-lg-6">
              <div class="title-box  text-left">
                 <span class="text-warning">Bienvenue chez SandBoX</span>
                 <h2 class="title">Changer votre mot de passe</h2>
              </div>
              <form  class="contact-us" id="contact" method="post">
                 <div class="row">
                     <div class="col-xl-12">
                         <label>Ancien mot de passe<br>
                         <span class="form-control-wrap your-subject">
                         <input type="password" name="password" Placeholder="Ancien mot de passe" class="form-control text" aria-invalid="false"></span>
                         </label>
                 </div>
                 <div class="col-xl-12">
                     <label>Nouveau mot de passe<br>
                     <span class="form-control-wrap your-subject">
                     <input type="password" name="password" Placeholder="Nouveau mot de passe" class="form-control text" aria-invalid="false"></span>
                     </label>
                  </div>
                    <div class="col-xl-12">
                       <label>Confirmer mot de passe<br>
                       <span class="form-control-wrap your-subject">
                       <input type="password" name="password" Placeholder="Confirmer mot de passe" class="form-control text" aria-invalid="false"></span>
                       </label>
                    </div>
                 
                    <div class="col-xl-12" style="position: relative;left:73%;">
                       <button id="submit" name="submit" type="submit" value="Send" class="button btn-yellow" >Changer</button>
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </section>
{%endblock%}
