{% extends 'back/GestionUtilisateur/login.html.twig'%}
{% block contenu%}
<div class="card-body p-4 p-sm-5">
  <h5 class="mb-0">Mot de passe oublié?</h5><small>Entrez votre email et nous vous enverrons un lien de réinitialisation.</small>
  <form class="mt-4"><input class="form-control" type="email" placeholder="Addresse E-mail" />
    <div class="mb-3"></div><button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Envoyer le lien</button>
  </form>
</div>
{%endblock%}
